.update
  padding: .2rem
  height: calc(100% - 3.0625rem)
  .list
    margin: 0
  .btm
    position: relative
    input[type='file']
      opacity: 0
      position: absolute
      z-index: 3
      width: 100%rem
      height: 20rem
    .icon
      text-align: center
      line-height: 100%
      width: 100%
      line-height: 100%
      height :20rem
      line-height: 20rem
      font-size: 6rem
     

