.login
  width: 100%
  height: 100%
  overflow: hidden
  padding-top: 5rem
  background: -webkit-linear-gradient(left top, #3399CC, #330099)
  background: -o-linear-gradient(left top, #3399CC, #330099); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left top, #3399CC, #330099); /* Firefox 3.6 - 15 */
  background: linear-gradient(left top, #3399CC, #330099); /* 标准的语法 */
  >div:nth-of-type(1)
    width: 10rem
    margin: 0% auto 2rem auto
    >img
      border-radius: 10rem
      width: 10rem
  .form-set
    margin: 0 auto
    >button
      border-radius: .7rem
    .register
      padding: 0
      button
        border-radius: .7rem
        padding: .2rem .4rem
      button:nth-of-type(2)
        float: right
        margin-right: 0